body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


#tiny-view-canvas {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 35%);
    overflow: hidden;
    display: none;
    z-index: 1;
}

#tiny-view-canvas-label {
    display: none;
    border-radius: 10px;
    padding: 0.3rem;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
    animation: 1s normal 0s tiny-view-canvas-fadeIn forwards, 1s normal 5s tiny-view-canvas-fadeOut forwards;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tiny-view-canvas-button {
    display: none;
    position: fixed;
    bottom: 1rem;
    z-index: 3;
    list-style-type: none;
}

#tiny-view-canvas-button>li {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 20%);
    margin: 1px;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

#tiny-view-canvas-button>li:hover {
    background-color: rgba(0, 0, 0, 50%);
}

#tiny-view-canvas-image {
    max-width: 90%;
    height: auto;
    position: fixed;
    transition: transform 1s;
    z-index: 2;
}

.tiny-view-icon-zoomIn {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.51 13.51'%3E%3Cpath d='M3.3,7.72c-.78,0-1.57,0-2.35,0-.47,0-.85-.33-.94-.8-.08-.43,.16-.88,.58-1.05,.14-.06,.29-.08,.44-.08,1.53,0,3.06,0,4.6,0,.13,0,.16-.03,.16-.16,0-1.55,0-3.09,0-4.64,0-.55,.41-.97,.93-.99,.56-.02,1,.41,1,.98,0,1.29,0,2.58,0,3.87,0,.27,0,.53,0,.8,0,.11,.02,.14,.14,.14,1.56,0,3.11,0,4.67,0,.54,0,.97,.41,.98,.94,.01,.55-.41,.99-.97,.99-.88,0-1.77,0-2.65,0-.67,0-1.35,0-2.02,0-.12,0-.15,.03-.15,.15,0,1.55,0,3.1,0,4.66,0,.55-.41,.97-.93,.99-.56,.02-1-.41-1-.98,0-1.44,0-2.88,0-4.33,0-.16,.06-.36-.02-.45-.09-.1-.3-.03-.46-.03-.67,0-1.34,0-2,0Z' style='fill: %23fff;'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 35%;
}

.tiny-view-icon-zoomOut {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.9 1.65'%3E%3Cpath d='M4.96,0C6.56,0,8.16,0,9.76,0c.11,0,.14,.03,.14,.14,0,.47,0,.94,0,1.4,0,.09-.02,.11-.11,.11-3.22,0-6.45,0-9.67,0-.09,0-.11-.02-.11-.11C0,1.07,0,.6,0,.12,0,.02,.03,0,.13,0c1.61,0,3.22,0,4.83,0Z' style='fill: %23fff;'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 35%;
}

.tiny-view-icon-fullScreen {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 15.05'%3E%3Cpath d='M0,15.05V.02C.12-.04,.18,.06,.24,.11,3.43,2.5,6.62,4.9,9.82,7.28c.23,.17,.25,.25,0,.43C6.63,10.1,3.44,12.49,.25,14.89c-.06,.05-.13,.08-.25,.16Z' style='fill: %23fefefe;'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 25%;
}

.tiny-view-icon-leftRotate {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.45 15.12'%3E%3Cpath d='M.93,1.04c-.31,1.42-.62,2.84-.93,4.27,1.43-.35,2.83-.69,4.27-1.04-.27-.26-.51-.51-.77-.74-.08-.08-.09-.11,0-.19,3.15-2.48,7.77-.87,8.64,3.05,.63,2.85-1.1,5.69-3.92,6.41-1.88,.48-3.58,.05-5.04-1.25-.08-.07-.12-.1-.21,0-.43,.45-.87,.9-1.31,1.34-.07,.07-.08,.11,0,.18,1.27,1.18,2.76,1.91,4.5,2.03,3.28,.22,5.78-1.11,7.39-3.98,1.56-2.79,1.03-6.42-1.18-8.73C11.22,1.18,9.82,.39,8.17,.12,5.86-.27,3.79,.29,1.98,1.78c-.11,.09-.17,.11-.27,0-.23-.25-.48-.48-.72-.71,0,0-.02-.01-.05-.03Z' style='fill: %23fff;'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 35%;
}

.tiny-view-icon-rightRotate {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.5 17.26'%3E%3Cpath d='M15.44,1.19c.35,1.62,.71,3.24,1.06,4.88-1.63-.4-3.23-.79-4.87-1.19,.31-.3,.59-.58,.88-.85,.09-.09,.1-.13,0-.21C8.9,.99,3.63,2.82,2.63,7.29c-.72,3.25,1.25,6.5,4.47,7.31,2.15,.55,4.08,.06,5.75-1.42,.09-.08,.14-.11,.24,0,.49,.52,.99,1.03,1.49,1.53,.08,.08,.1,.12,0,.21-1.45,1.35-3.15,2.18-5.13,2.31-3.75,.26-6.6-1.26-8.43-4.54C-.76,9.51-.15,5.36,2.37,2.72,3.69,1.34,5.29,.45,7.17,.14c2.64-.44,5.01,.19,7.07,1.9,.13,.1,.19,.12,.31,0,.26-.28,.55-.54,.83-.81,0,0,.02-.01,.05-.03Z' style='fill: %23fff;'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 35%;
}

.tiny-view-loader {
    display: none;
    position: fixed;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: tiny-view-canvas-spin 2s linear infinite;
}

@keyframes tiny-view-canvas-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes tiny-view-canvas-fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes tiny-view-canvas-fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}